html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: $color__background-body; /* Fallback for when there is no custom background color defined. */
}

blockquote, q {
	quotes: "" "";

	&:before,
	&:after {
		content: "";
	}
}

hr {
	background-color: $color__background-hr;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

@import "lists";

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

@import "tables";

.site-branding{
	// background: url('src/img/header.gif') $color__primary no-repeat center top;
	background: $color__primary;
	background-size: cover;
	color:#fff;
	border: solid 3px #ab9f9f;
	border-top: none;
	border-radius: 0px 0px 5px 5px;
	padding:0px !important;
	overflow: hidden;

	.site-title {
		position:absolute;
		left:-9999px;
	}
	img {
		height: auto;
    display: block;
		margin: auto;
	}

	a, a:visited{
		color: #fff;
		text-decoration: none;
	}
}

.site-content {
	border: solid 1px $color__secondary;
}

#footerDivider {
	background: $color__primary;
	height: 30px;
}
